<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squid Captcha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simple.css') }}">
</head>
<body>

<header>
    <h1><a href="{{ url_for('index') }}">Squid CAPTCHA </a></h1>
    {% if score >= 3 %}
        <h3>Congrats you passed the captcha</h3>
    {% else %}
        <h3>fail captcha! just click the most random ones...</h3>
    {% endif %}

    <p>{{ score }} out of 4 correct</p>
</header>


<main>
    {% if score >= 3 %}
        <img src="{{ url_for('static', filename='secret-pass.png') }}">
        <p>happy squid</p>
    {% else %}
        <img src="{{ url_for('static', filename='secret-fail.jpg') }}">
        <p>angry squid</p>
    {% endif %}

</main>

<footer>
    <p>(just pick the one sampled from the highest entropy distribution)</p>
</footer>
</body>
</html>